* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

html, body {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}

#whatsapp-fixed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 2.5em;
  width: 4rem;
  height: 4rem;
  right: 1.75rem;
  bottom: 1.75rem;
  border-radius: 50%;
  background-color: #50F06C;
  color: white;
  text-align: center;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: 0.25s;
}

#whatsapp-fixed-btn:hover {
  color: #50F06C;
  background-color: white;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.pointer {
  cursor: pointer;
}

header {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/background-image.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header .presentation {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
}
header .presentation h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
}
header .presentation h1 {
  color: white;
  font-size: 3.75em;
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0.0000001;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  transition: all 300ms;
}
.navbar .navbar-brand {
  font-size: 1.5em;
}
.navbar .navbar-brand::before {
  content: "< ";
  color: #4062bb;
  font-weight: bold;
}
.navbar .navbar-brand::after {
  content: " />";
  color: #4062bb;
  font-weight: bold;
}
.navbar .nav-link {
  color: #9d9d9d;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.125em;
  transition: all 250ms;
}
.navbar .nav-link:hover {
  color: white;
}
.navbar .navbar-nav {
  gap: 0.75rem;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}
.navbar .active {
  color: white;
}
.navbar .dropdown-menu {
  --bs-dropdown-min-width: none;
  animation: fadeIn 250ms forwards;
}

section {
  padding-top: 5.95rem;
  padding-bottom: 5.95rem;
}
section h2 {
  font-size: 2.5em;
}

#about {
  padding-top: 5.625rem;
}
#about .about-me p {
  font-size: 1.125em;
  line-height: 2rem;
}
#about .about-me h2::after {
  content: "";
  display: block;
  width: 12.1875rem;
  height: 0.3125rem;
  background: #4062bb;
  margin: 0.625rem auto 1.25rem;
}
#about .my-skills h3 {
  font-size: 1.875em;
}
#about .my-skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
#about .my-skills .skills-item {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 2.125rem;
  background-color: #eaeaea;
}
#about .my-skills .skills-item span {
  font-size: 1.125em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
#about .my-skills .skills-item svg {
  font-size: 3.125em;
}

#services h2::after {
  content: "";
  display: block;
  width: 11.25rem;
  height: 0.3125rem;
  background: #4062bb;
  margin: 0.625rem auto 1.25rem;
}
#services .services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
#services .services-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.3125rem solid transparent;
  padding: 1.25rem;
  background-color: #eaeaea;
  transition: all 350ms ease;
}
#services .services-item:hover {
  border-bottom-color: #4062bb;
}
#services .services-item:hover svg {
  color: #4062bb;
}
#services .services-item svg {
  margin: 1.25rem 0rem;
  font-size: 3.125rem;
  transition: all 350ms ease;
}
#services .services-item h3 {
  font-size: 1.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.9375rem;
}
#services .services-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  margin-bottom: 0;
  text-align: center;
}

#portfolio h2::after {
  content: "";
  display: block;
  width: 11.5625rem;
  height: 0.3125rem;
  background: #4062bb;
  margin: 0.625rem auto 1.25rem;
}
#portfolio .projects-container {
  display: flex;
  flex-direction: column;
  gap: 11.25rem;
}
#portfolio .project {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
}
#portfolio .project .project-img {
  width: 60%;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 13px 27px -5px hsla(240deg, 30%, 28%, 0.25), 0 8px 16px -8px hsla(0deg, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0deg, 0%, 0%, 0.03);
  order: 1;
}
#portfolio .project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
  width: 40%;
}
#portfolio .project-info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.875em;
}
#portfolio .project-info p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
}
#portfolio .project-info p a {
  color: rgb(33, 37, 41);
}
#portfolio .project-info svg {
  font-size: 2rem;
}
#portfolio .demo-btn {
  border-radius: 0px;
  border: 2px solid #4062bb;
  font-family: "Poppins", sans-serif;
  transition: all 200ms !important;
  color: #4062bb;
  font-weight: 600;
}
#portfolio .demo-btn:hover {
  background: #4062bb;
  color: white;
}
#portfolio .repo-btn {
  font-family: "Poppins", sans-serif;
  color: #4062bb;
  font-weight: 600;
  border: none;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.more-projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-projects-container a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 0px;
  border: 2px solid #4062bb;
  font-family: "Poppins", sans-serif;
  transition: all 200ms !important;
  color: #4062bb;
  font-weight: 600;
}
.more-projects-container a:hover {
  background: #4062bb;
  color: white;
}

#contact {
  padding-bottom: 5.625rem;
}
#contact h2::after {
  content: "";
  display: block;
  width: 15.125rem;
  height: 0.3125rem;
  background: #4062bb;
  margin: 0.625rem auto 1.25rem;
}
#contact p {
  font-size: 1.25em;
  line-height: 1.875rem;
}
#contact a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
#contact .info-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
#contact .info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.3125rem solid transparent;
  padding: 3.125rem;
  background-color: #eaeaea;
  transition: all 350ms ease;
}
#contact .info-item:hover {
  border-bottom-color: #4062bb;
}
#contact .info-item:hover svg {
  color: #4062bb;
}
#contact .info-item svg {
  margin: 1.25rem 0rem;
  font-size: 3.125rem;
  transition: all 350ms ease;
}
#contact .info-item h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.9375rem;
}

footer {
  background-color: #1B1B1B;
}
footer a {
  text-decoration: none;
  color: #c6c6c6;
}
footer a:hover {
  color: white;
}
footer p {
  font-size: 1em;
  color: #c6c6c6;
}

@media only screen and (max-width: 1200px) {
  #about .my-skills {
    width: 100%;
  }

  #services .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #services .services-item h3 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 992px) {
  #portfolio .project {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #portfolio .project .project-img {
    width: 100%;
  }
  #portfolio .project-info {
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
  }
  #portfolio .project-info h4 {
    text-align: center;
  }
  #portfolio .project-info p {
    text-align: center;
  }

  #contact .info-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  #services .services-container {
    grid-template-columns: 1fr;
  }

  #portfolio .project .project-img {
    width: 15.625rem;
    height: 31.25rem;
    box-shadow: none;
  }
}
@media only screen and (max-width: 600px) {
  header .presentation h1 {
    font-size: 3.125em;
  }
  header .presentation h2 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 475px) {
  section h2 {
    font-size: 2.25em;
  }

  #about .about-me h2::after {
    content: "";
    display: block;
    width: 11.25rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }
  #about .my-skills h3 {
    font-size: 1.75em;
  }

  #services h2::after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  #portfolio h2::after {
    content: "";
    display: block;
    width: 10.3125rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  #contact h2::after {
    content: "";
    display: block;
    width: 13.625rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  #whatsapp-fixed-btn {
    right: 1rem;
    bottom: 1rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  html, body {
    font-size: 14px;
  }

  #contact p {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 400px) {
  header .presentation h1 {
    font-size: 2.75em;
  }
  header .presentation h2 {
    font-size: 1.375em;
  }
}
@media only screen and (max-width: 340px) {
  section h2 {
    font-size: 1.875em;
  }

  #portfolio .project-info h4 {
    font-size: 1.5em;
  }

  #about .about-me h2::after {
    content: "";
    display: block;
    width: 9.375rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }
  #about .my-skills h3 {
    font-size: 1.5em;
  }

  #services h2::after {
    content: "";
    display: block;
    width: 8.375rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  #portfolio h2::after {
    content: "";
    display: block;
    width: 8.5rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  #contact h2::after {
    content: "";
    display: block;
    width: 11.25rem;
    height: 0.3125rem;
    background: #4062bb;
    margin: 0.625rem auto 1.25rem;
  }

  .navbar .navbar-brand {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 303px) {
  header .presentation h1 {
    font-size: 2.375em;
  }
  header .presentation h2 {
    font-size: 1.25em;
  }

  #contact .info-item {
    padding: 2.25rem;
  }

  #portfolio .project .project-img {
    width: 13.125rem;
    height: 28.75rem;
  }
}

/*# sourceMappingURL=styles.css.map */
