// variables
$poppins-font: 'Poppins', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$principal-color: #4062bb;
$gray-color: #eaeaea;
$dark-gray: #1B1B1B;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}

html, body{
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: .625rem;
    height: .5rem;
}

body::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: .5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 133, 133);
}

#whatsapp-fixed-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 2.5em;
    width: 4rem;
    height: 4rem;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    background-color: #50F06C;
    color: white;
    text-align: center;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0, 0.3);
    text-decoration: none;
    transition: .25s;
}

#whatsapp-fixed-btn:hover{
    color: #50F06C;
    background-color: white;
}


// titles border mixin

@mixin titlesBorder($width){
    content: "";
    display: block;
    width: $width;
    height: .3125rem;
    background: $principal-color;
    margin: .625rem auto 1.25rem;
}

// box Item mixin

@mixin boxItem($padding, $svg-font-size, $svg-margin, $h3-font-size, $h3-margin-bottom){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: .3125rem solid transparent;
    padding: $padding;
    background-color: $gray-color;
    transition: all 350ms ease;

    &:hover{
        border-bottom-color: $principal-color;

        svg{
            color: $principal-color;
        }
    }

    svg{
        margin: $svg-margin;
        font-size: $svg-font-size;
        transition: all 350ms ease;
    }

    h3{
        font-size: $h3-font-size;
        font-family: $poppins-font;
        font-weight: 600;
        text-align: center;
        margin-bottom: $h3-margin-bottom;
    }
}

// Button Mixin

@mixin button(){
    border-radius: 0px;
    border: 2px solid $principal-color;
    font-family: $poppins-font;
    transition: all 200ms !important;
    color: $principal-color;
    font-weight: 600;
    
    &:hover{
        background: $principal-color;
        color: white;
    }
}

// fonts

.montserrat-font{
    font-family: $montserrat-font;
}

.poppins-font{
    font-family: $poppins-font;
}

.pointer{
    cursor: pointer;
}

// Header

header{
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)) ,url('../assets/images/background-image.webp');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;

    .presentation{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        text-align: center;
    
        h2{
            color: white;
            font-family: $poppins-font;
            font-size: 1.875rem;
        }
    
        h1{
            color: white;
            font-size: 3.75em;
            font-family: $montserrat-font;
        }
    }
}

//Navbar
@keyframes fadeIn {
    from{
        opacity: 0.0000001;
    } to{
        opacity: 1;
    }
}

.navbar{
    transition: all 300ms;

    .navbar-brand{
        font-size: 1.5em;

        &::before{
            content: '< ';
            color: $principal-color;
            font-weight: bold;
        }

        &::after{
            content: ' />';
            color: $principal-color;
            font-weight: bold;
        }
    }

    .nav-link{
        color: #9d9d9d;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.125em;
        transition: all 250ms;
    }

    .nav-link:hover{
        color: white;
    }

    .navbar-nav{
        gap: .75rem;
    }
    
    .navbar-collapse{
        justify-content: flex-end;
    }
    
    .active{
        color: white;
    }

    .dropdown-menu{
        --bs-dropdown-min-width: none;
        animation: fadeIn 250ms forwards;
    }
}

// SECTIONS

section{
    padding-top: 5.95rem;
    padding-bottom: 5.95rem;

    h2{
        font-size: 2.5em;
    }
}

// About Section

#about{
    padding-top: 5.625rem;

    .about-me{
        p{
            font-size: 1.125em;
            line-height: 2rem;
        }

        h2::after{
            @include titlesBorder(12.1875rem);
        }
    }

    .my-skills{

        h3{
            font-size: 1.875em;
        }

        .skills-container{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center; 
            align-items: center;
        }

        .skills-item{
            width: 12.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            padding: 2.125rem;
            background-color: $gray-color;

            span{
                font-size: 1.125em;
                font-family: $poppins-font;
                font-weight: 600;
            }

            svg{
                font-size: 3.125em;
            }
        }

    }
}


// Services

#services{

    h2::after{
        @include titlesBorder(11.25rem);
    }

    .services-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .services-item{
        @include boxItem(1.25rem, 3.125rem, 1.25rem 0rem, 1.375rem, .9375rem);

        p{
            font-family: $poppins-font;
            font-size: 1.125em;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

// Portfolio

#portfolio{
    h2::after{
        @include titlesBorder(11.5625rem);
    }

    .projects-container{
        display: flex;
        flex-direction: column;
        gap: 11.25rem;
    }

    .project{
        display: flex;
        flex-flow: row nowrap;  
        gap: 5rem;

        .project-img{
            width: 60%;
            height: auto;
            border-radius: .75rem;
            box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
            order: 1;
        }
    }

    .project-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
        width: 40%;

        h4{
            font-family: $poppins-font;
            font-weight: 600;
            font-size: 1.875em;
        }

        p{
            font-family: $poppins-font;
            font-size: 1.125em;

            a{
                color: rgb(33, 37, 41);
            }
        }

        svg{
            font-size: 2rem;
        }
    }

    .demo-btn{
        @include button();
    }

    .repo-btn{
        font-family: $poppins-font;
        color: $principal-color;
        font-weight: 600;
        border: none;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}

// More Projects Button

.more-projects-container{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        background-color: #f6f6f6;
        @include button();
    }
}

// Contact

#contact{
    padding-bottom: 5.625rem;

    h2::after{
        @include titlesBorder(15.125rem);
    }

    h3{
        font-weight: 600;
        color: lighten($color: #000000, $amount: 21%);
    }

    p{
        font-size: 1.25em;
        line-height: 1.875rem;
    }

    a{
        text-decoration: none;
        color: rgb(33, 37, 41);
    }

    .info-container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .info-item{
        @include boxItem(3.125rem, 3.125rem, 1.25rem 0rem, 1.5rem, .9375rem);
    }

    .contact-form{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        div{
            input{
                width: 55%;
            }

            select{
                width: 45%;
            }
        }
        
        input[type=text], input[type=email], textarea, select{
            width: 100%;
            outline: none;
            border: 2px solid rgb(111, 111, 111);
            padding: .75rem;
            font-family: $poppins-font;
            transition: all .25s;
        }

        textarea{
            min-height: 4.75rem;
            max-height: 50vh
        }

        input[type=submit]{
            @include button();
            padding: .75rem 5rem;
        }
    }
      
}

// Footer

footer{
    background-color: $dark-gray;

    a{
        text-decoration: none;
        color: darken($gray-color, 14%);
        &:hover{
            color: white;
        }
    }

    p{
        font-size: 1em;
        color: darken($gray-color, 14%);
    }
}

.alerts-container{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.alert{
    animation: animation-alert 400ms ease;
    width: 100%;
    border-radius: 0px;
    padding-top: 1.25rem;
    padding-bottom: .3125rem;
    transition: all 300ms;
    margin-bottom: 0;
    z-index: 1000;
}

@keyframes animation-alert{
    from{
        transform: translateY(5rem);
    } 
    to{
        transform: translateY(0px);
    }
}

.animation-eliminate-alert{
    animation: animation-eliminate-alert 400ms forwards;
}

@keyframes animation-eliminate-alert{
    from{
        transform: translateY(0px);
    } to{
        transform: translateY(5rem);
    }
}


// media queries

@media only screen and (max-width: 1200px){

    #about{
        .my-skills{
            width: 100%;
        }
    }

    #services {
        .services-container{
            grid-template-columns: repeat(2, 1fr);
        }

        .services-item h3{
            font-size: 1.25rem;
        }
    }
}

@media only screen and (max-width: 992px){
    #portfolio{
        .project{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2.5rem;

            .project-img{
                width: 100%;
            }
        }

        .project-info{
            justify-content: center;
            align-items: center;
            width: 100%;
            order: 2;

            h4{
                text-align: center;
            }

            p{
                text-align: center;
            }
        }
    }

    #contact .info-container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 767px){
    #services{
        .services-container{
            grid-template-columns: 1fr;
        }
    }

    #portfolio .project .project-img{
        width: 15.625rem;
        height: 31.25rem;
        box-shadow: none;
    }
    
}

@media only screen and (max-width: 600px){
    header .presentation{
        h1{
            font-size: 3.125em;
        }
        
        h2{
            font-size: 1.5em;
        }
    } 
}

@media only screen and (max-width: 475px){
    section h2{
        font-size: 2.25em;
    }

    #about{
        .about-me h2::after{
            @include titlesBorder(11.25rem);
        }

        .my-skills h3{
            font-size: 1.75em;
        }
    }

    #services h2::after{
        @include titlesBorder(10rem);
    }

    #portfolio h2::after{
        @include titlesBorder(10.3125rem);
    }

    #contact h2::after{
        @include titlesBorder(13.625rem);
    }

    #whatsapp-fixed-btn{
        right: 1.75rem;
        bottom: 1.75rem;
        width: 3.75rem;
        height: 3.75rem;
    }

    html, body{
        font-size: 14px;
    }

    #contact p{
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 400px){
    header .presentation {
        h1{
            font-size: 2.75em;
        }

        h2{
            font-size: 1.375em;
        }
    }

    #contact .contact-form div{
        input{
            width: 50%;
        }
        
        select{
            width: 60%;
        }
    }
} 

@media only screen and (max-width: 340px){
    section h2{
        font-size: 1.875em;
    }

    #portfolio .project-info h4{
        font-size: 1.5em;
    }   

    #about{
        .about-me h2::after{
            @include titlesBorder(9.375rem);
        }

        .my-skills h3{
            font-size: 1.5em;
        }
    }

    #services h2::after{
        @include titlesBorder(8.375rem);
    }

    #portfolio h2::after{
        @include titlesBorder(8.5rem);
    }

    #contact h2::after{
        @include titlesBorder(11.25rem);
    }

    .navbar .navbar-brand{
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 303px){
    header .presentation {
        h1{
            font-size: 2.375em;
        }

        h2{
            font-size: 1.25em;
        }
    }

    #contact .info-item{
        padding: 2.25rem;
    }

    #portfolio .project .project-img{
        width: 13.125rem;
        height: 28.75rem;
    }
}